<h3>Edit Tournament - {{ selectedTournament.id }}</h3>
<div>
  <label>Date: </label>
  <input [(ngModel)]="selectedTournament.date" placeholder="type">
</div>
<div>
  <label>Place: </label>
  <input [(ngModel)]="selectedTournament.place" placeholder="type">
</div>
<div>
  <label>Referee: </label>
  <input [(ngModel)]="selectedTournament.referee" placeholder="type">
</div>
<div>
  <label>Type: </label>
  <input [(ngModel)]="selectedTournament.type" placeholder="type">
</div>
<div>
  <label>Format: </label>
  <input [(ngModel)]="selectedTournament.format" placeholder="format">
</div>
<div>
  <label>Deals: </label>
  <input [(ngModel)]="selectedTournament.deals" placeholder="deals">
</div>
